body {
  font-family: 'Josefin Sans', sans-serif;
}

#myTable thead input {
  font-family: 'Josefin Sans', sans-serif;
}

.dataTables_wrapper input {
  font-family: 'Josefin Sans', sans-serif;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('/media/JosefinSans-Regular.woff2') format('woff2'),
       url('/media/JosefinSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
}

.button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #969696;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #646464;
    color: #ffffff;
}

.button:active {
    background-color: #969696;
}
