.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header h1 {
    margin: 0; /* Resets any default margin */
    font-size: 50px;
    font-weight: bold;
}

.button {
    position: absolute; /* Position the button absolutely */
    left: 0; /* Align the button to the left */
    top: 50%; /* Align the button vertically */
    transform: translateY(-50%); /* Center the button vertically */
    /*display: inline-block;*/
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    background-color: #969696;
    border: none;
    border-radius: 5px;
    /*box-shadow: 0 9px #999;*/
    /*margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 50px;*/
}

.button:hover {background-color: #646464}

.button:active {
    background-color: #969696;
    /*box-shadow: 0 5px #666;*/
    /*transform: translateY(4px);*/
}
