.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    /* Styles for your main title */
}

.button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #969696;
    border: none;
    border-radius: 5px;
    /*box-shadow: 0 9px #999;*/
    margin-bottom: 15px;
}

.button:hover {background-color: #646464}

.button:active {
    background-color: #969696;
    /*box-shadow: 0 5px #666;*/
    /*transform: translateY(4px);*/
}
